* {
    box-sizing: border-box;
}


/* For desktops */
@media screen and (min-width: 992px), (orientation: landscape) {

    @media screen and (min-width: 992px) {
        .navbar {
            background: #26272b !important;
            height: 80px;

        }
    
        .nav-link {
            color: whitesmoke !important;
            font-size: 18px !important;
            font-weight: 500 !important;
            font-family: Roboto;
    
        }
    
        .navbar-toggler {
            background-color: #26272b !important;
        }
    
        #collapsibleNavbar {
            margin-right: -5%;
        }
        
        .nav-link:hover {
            color: #D51968 !important;
          }
    
        .rotaractlogo {
            height: 60px;
            width: 200px;
            float:left;
            margin-left:-5%;
        } 

        .google-signup {
            width: 1000px; 
            height: 1448px;
        }

        .wholebody {
            margin-top: 15vh;
            margin-bottom: 10vh;
            margin-left: 10vw;
            margin-right: 10vw;
        }
    
        
    }

    @media screen and (max-width: 991.5px){
        .navbar {
            background-color: #26272b !important;

        }
    
        .rotaractlogo {
            height: 50px;
            width:180px;
        }
    
        .nav-link {
            color: whitesmoke !important;
            font-size: 16px !important;
            font-weight: 500 !important;
            font-family: Roboto;
    
        }
    
        .navbar-toggler {
            background-color: #26272b !important;
        }

        .wholebody {
            margin-top: 35vh;
            margin-bottom: 10vh;
            margin-left: 10vw;
            margin-right: 10vw;
        }
        .google-signup {
            width: 700px; 
            height: 1448px;
        }
    
    }


    .titleword {
        font-family: Arvo;
        font-weight: 700;
        font-size: 2.5vw;
    }

    .form-signup {
        margin-top: 5vh;
        text-align: center;
    }




    .about-title {
        margin-bottom: 3vh;
    }
    

    .about-title-text, .programme-title-text {
        font-family: Pacifico;
        font-weight: 900;
        font-size: 3vw;
        color: #D51968;
    }

    .about-body {
        margin-bottom: 8vh;
    }

    .textbody {
        font-family: Roboto;
        font-weight: 550;
        font-size: 1.3vw;
        line-height: 5vh;
    }

    .center-title {
        font-size: 1.7vw;
        font-family: Pacifico;
        font-weight: 1000;
        color:#D51968;
        text-transform: capitalize;

        width: 100%; 
        text-align: center; 
        border-bottom: 0.1vw solid #000; 
        line-height: 0.5vh;
        margin-top: 12vh;
        margin-bottom: 5vh;

    }

    .center-title-body {
        background:#fff; 
        padding-left: 2vw;
        padding-right:2vw; 
    }

    .overseas-field, .local-field, .past-event-field {
        height: 60vh;
    }

    .activity-field-column {
        float:left;
        width:33.3%;
        margin-top: 5vh;
    }

    .activity-card {
        box-shadow: 0 0.5vh 0.5vw 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 20vw;
        height:50vh;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        color: black;
    }

    .activity-card:hover {
        box-shadow: 0 1.5vh 1vw 0 rgba(0,0,0,0.2);
        filter:brightness(45%);
        text-decoration: none;
        
      }

    .activity-card-image {
        border-radius: 5px 5px 0 0;
        width:20vw;
        height:30vh;
        object-fit: cover;
    }

    .activity-card-word {
        margin-left: 1vw;
    }

    .activity-card-word-title {
        font-family: Arvo;
        font-weight: 600;
        font-size: 1.3vw;
    }

    .activity-card-word-body-title {
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.1vw;
    }


    .activity-card-word-body {
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.1vw;
        margin-bottom: -0.6vh;
    }

    .upcoming-field {
        height: 60vh;
    }

    .upcoming-container {
        border-radius:5px;
        color:black;
        margin: auto;
        width: 50vw;
        margin-top: 10vh;
        box-shadow: 0 0.5vh 1vw 0 rgba(0,0,0,0.2);

    }

    .upcoming-body {
        width: 100%;
        height: 10vh;
        box-shadow: 0 0.1vh 0.1vw 0 rgba(0,0,0,0.2);
    }

    .upcoming-body:hover {
        box-shadow: 0 1vh 1.5vw 0 rgba(0,0,0,0.2);
    }

    .upcoming-body-left {
        float:left;
        width: 20%;
        background-color: #D51968;
        color: #fff;
        height: 10vh;
        text-align: center;
        border-bottom: 0.1vw solid #bbb;
        border-radius: 5px;
    }

    .upcoming-body-right {
        float:left;
        width:80%;
        height:10vh;
    }

    .upcoming-month {
        font-family: Arvo;
        font-weight: 600;
        font-size: 1.2vw;
        text-transform: uppercase;
        
    }
    .upcoming-date {
        margin-top:-3.5vh;
        font-family: Arvo;
        font-weight: 600;
        font-size: 2.5vw;
        text-transform: uppercase;
    }

    .upcoming-event-body {
        margin-left: 1vw;
        font-family: Roboto;
        font-weight: 550;
        font-size: 1.2vw;
    }

    .exco-body {
        width: 40vw;
        margin:auto;
    }

    .exco-name {
        font-family: Roboto;
        font-weight: 600;
    }

    #exco-box:hover {
        color: #D51968;
        background-color:rgb(223, 223, 223);
    }

    .exco-title-border {
        border-radius:15px;
        background-color: #0275d8;
    }

    .exco-title-text {
        margin-left: 1vw;
        margin-right: 1vw;
        color:white;
        font-family: Arvo;
        font-weight: 500;
        font-size: 11px;
        
    }

    .programme-title {
        margin-bottom: 10vh;
    }

    .programme-body-image {
        width: 70%;
        height:70%;
        margin-bottom: 8vh;
        
    }
    .programme-body-infobody {
        margin-bottom: 8vh;
    }

    .programme-body-info {
        line-height: 2vh;
        font-family: Roboto;
        font-weight: 600;
        font-size: 1.5vw;
    }

    .programme-body-text {
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.4vw;
        margin-bottom: 8vh;
    }

    .programme-video {
        width: 50vw;
        height:60vh;
        margin-bottom: 8vh;

    }

    .programme-description {
        font-style: italic;
        font-family: 600;
        font-size: 1.2vw;
        margin-bottom:8vh;
        margin-top:-8vh;

    }








    

}

/* For mobiles & tablets  */
@media screen and (max-width: 991.5px) and (orientation:portrait){
    .navbar {
        background-color: #26272b !important;
        border-bottom: 1px solid whitesmoke !important;
    }

    .rotaractlogo {
        height: 8vh;
        width:40vw;
    }

    .nav-link {
        color: whitesmoke !important;
        font-size: 3vw !important;
        font-weight: 500 !important;
        font-family: Roboto;

    }

    .navbar-toggler {
        background-color: #26272b !important;
    }

    .titleword {
        font-family: Arvo;
        font-weight: 700;
        font-size: 8vw;
    }

    .form-signup {
        margin-top: 5vh;
        text-align:center;
    }

    .google-signup {
        width: 300px; 
        height: 1648px;
    }

    .about-title{
        margin-bottom: 2vh;
    }

    .about-title-text, .programme-title-text {
        font-family: Pacifico;
        font-weight: 1000;
        font-size: 5.5vw;
        color: #D51968;
    }

    .about-body {
        margin-bottom: 5vh;
    }

    .textbody {
        font-family: Roboto;
        font-weight: 550;
        font-size: 3.5vw;
        line-height: 4vh;
    }

    .center-title {
        font-size: 4.5vw;
        font-family: Pacifico;
        font-weight: 1000;
        color:#D51968;
        text-transform: capitalize;

        width: 100%; 
        text-align: center; 
        border-bottom: 0.1vw solid #000; 
        line-height: 0.2vh;
        margin-top: 10vh;
        margin-bottom: 5vh;

    }

    .center-title-body {
        background:#fff; 
        padding-left: 3vw;
        padding-right:3vw; 
    }

    .wholebody {
        margin-top: 20vh;
        margin-bottom: 15vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .overseas-field, .local-field {
        height: 120vh;
    }

    .activity-field-column {
        float:left;
        width:100%;
        margin-top: 5vh;
    }

    .activity-card {
        box-shadow: 0 0.5vh 0.5vw 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width:80vw;
        height: 55vh;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        color: black;
    }

    .activity-card:hover {
        box-shadow: 0 1.5vh 1vw 0 rgba(0,0,0,0.2);
        filter:brightness(45%);
        text-decoration: none;
        
      }

    .activity-card-image {
        border-radius: 5px 5px 0 0;
        width:80vw;
        height:30vh;
        object-fit: cover;
    }

    .activity-card-word {
        margin-left: 3vw;
    }

    .activity-card-word-title {
        font-family: Arvo;
        font-weight: 600;
        font-size: 5vw;
        margin-top: 2vh;
    }

    .activity-card-word-body {
        font-family: Roboto;
        font-weight: 500;
        font-size: 4vw;
    }

    .activity-card-word-body {
        font-family: Roboto;
        font-weight: 500;
        font-size: 4vw;
        margin-bottom: -0.5vh;
    }

    .past-event-field {
        height:180vh;
    }

    .upcoming-field {
        height: 60vh;
    }

    .upcoming-container {
        border-radius:5px;
        color:black;
        margin: auto;
        width: 100%;
        margin-top: 10vh;
        box-shadow: 0 0.5vh 1vw 0 rgba(0,0,0,0.2);

    }

    .upcoming-body {
        width: 100%;
        height: 10vh;
        box-shadow: 0 0.1vh 0.1vw 0 rgba(0,0,0,0.2);
    }

    .upcoming-body:hover {
        box-shadow: 0 1vh 1.5vw 0 rgba(0,0,0,0.2);
    }

    .upcoming-body-left {
        float:left;
        width: 20%;
        background-color: #D51968;
        color: #fff;
        height: 10vh;
        text-align: center;
        border-bottom: 0.1vw solid #bbb;
        border-radius: 5px;
    }

    .upcoming-body-right {
        float:left;
        width:80%;
        height:10vh;
    }

    .upcoming-month {
        font-family: Arvo;
        font-weight: 600;
        font-size: 3vw;
        text-transform: uppercase;
        margin-top:2.5vh;
        
    }
    .upcoming-date {
        margin-top:-2.5vh;
        font-family: Arvo;
        font-weight: 600;
        font-size: 5.5vw;
        text-transform: uppercase;
    }

    .upcoming-event-body {
        margin-left: 3vw;
        font-family: Roboto;
        font-weight: 550;
        font-size: 3.5vw;
        margin-top: 1vh;
    }

    .exco-name {
        font-family: Roboto;
        font-weight: 600;
        font-size: 3vw;
    }

    #exco-box:hover {
        background-color:rgb(223, 223, 223);
        color: #D51968;
    }

    .exco-title-border {
        border-radius:100px;
        background-color: #0275d8;
        display: inline-block;
        position: relative;
        height:15px;
        line-height: 10px;
        
    }

    .exco-title-text {
        margin-left: 1vw;
        margin-right: 1vw;
        color:white;
        font-family: Arvo;
        font-weight: 500;
        font-size: 1.5vw;
       
    }

    .programme-title {
        margin-bottom: 5vh;
    }

    .programme-body-image {
        width: 100%;
        height:100%;
        margin-bottom: 5vh;
        display:block;
        margin-left:auto;
        margin-right:auto;

        
    }
    .programme-body-infobody {
        margin-bottom: 8vh;
    }

    .programme-body-info {
        line-height: 3.2vh;
        font-family: Roboto;
        font-weight: 600;
        font-size: 5.5vw;
    }

    .programme-body-text {
        font-family: Roboto;
        font-weight: 500;
        font-size: 5vw;
        margin-bottom: 8vh;
    }

    .programme-video {
        width: 100%;
        height: 100%;
        margin-bottom: 8vh;

    }

    .programme-description {
        font-style: italic;
        font-family: 600;
        font-size: 4vw;
        margin-bottom:8vh;
        margin-top:-4vh;

    }



}


.site-footer {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}

.site-footer hr.small {
    margin:20px 0
}

.site-footer h6 {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:left
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:0px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.instagram:hover
{
background-color:#DD2A7B
}
@media (max-width:767px)
{
.social-icons li.title {
    display:block;
    margin-right:0;
    font-weight:600
}
}

.motto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.text_box {
    line-height: 1.6;
    font-size: 18px;
    font-family: Verdana;
}


.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

        .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover {
        background-color: #3b5998
    }

    .social-icons a.instagram:hover {
        background-color: #DD2A7B
    }

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}